<div class="grid-view container">
    <p class="category-name">{{ randomlySelectedCategory?.name }}</p>
    <div class="card">
      <mat-card *ngFor="let item of randomlySelectedCategory?.products" class="card-body">
          <p class="name">{{ item?.name }}</p>
          <img class="image-product" [alt]= "item?.image.filename" [src] ="item?.image.path">
          <button class="link-btn" mat-button [routerLink]="['../', item._id]" (click) = "getProduct(item)"  >Go to details</button>
      </mat-card>
    </div>
  </div>
  