@import "../../../../styles.scss";
.image-product {
  width: 120px;
}
.container {
  margin-top: #{$spacing-xxl}px;
  .start-btn {
    @include link-button;
  }
  .price {
    font-family: $text_font;
  }
  .name{
      font-family: $primary_font;
      font-weight: $black;
  }
  .description{
      font-family: $secondary_font;
  }
}
